{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:green; color:white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-tractor"></i>&nbsp;&nbsp;Crop Rotation</a>
        {#        <a class="navbar-brand" href="#">Fixed navbar</a>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a
                            {% if '/' == request.path %}
                                class="nav-link active" aria-current="page"  href="{% url 'index' %}">Home
                            {% else %}
                                class="nav-link" href="{% url 'index' %}">Home
                            {% endif %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    {% if 'spreadsheet' in request.path %}
                        <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown">Data</a>
                    {% else %}
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Data</a>
                    {% endif %}
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Change</a></li>
                        <li><a class="dropdown-item" href="#">Report</a></li>
                        <li>
                            {% if 'spreadsheet' in request.path %}
                                <a class="dropdown-item active" href="{% url 'spreadsheets_index' %}">Spreadsheet</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'spreadsheets_index' %}">Spreadsheet</a>
                            {% endif %}

                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Rotation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"
                       data-bs-toggle="modal" data-bs-target="#contactUsModal">
                        Contact Us
                    </a>
                {#                <li class="nav-item">#}
                {#                    {% if 'contact' in request.path %}#}
                {#                        <a class="nav-link active" href="{% url 'contact' %}"#}
                {#                           data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</a>#}
                {#                    {% else %}#}
                {#                        <a class="nav-link" href="{% url 'contact' %}"#}
                {#                           data-bs-toggle="modal" data-bs-target="#contactUsModal">Contact Us</a>#}
                {#                    {% endif %}#}
                {#                </li>#}
                <li class="nav-item">
                    <a class="nav-link">Account</a>
                </li>
                <li class="nav-item">
                    <a
                            {% if 'about' in request.path %}
                                class="nav-link active" aria-current="page"  href="{% url 'about' %}">About
                            {% else %}
                                class="nav-link" href="{% url 'about' %}">About
                            {% endif %}
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a
                                    {% if 'dashboard' in request.path %}
                                        class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
                                        Welcome {{ user.username }}!
                                    {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                <i class="fas fa-sign-out-alt"> Log out</i>
                            </a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a
                                    {% if 'login' in request.path %}
                                        class="nav-link active" aria-current="page" href="{% url 'login' %}">
                                        <i class="fas fa-sign-in-alt"> Log In</i>
                                    {% else %}
                                        class="nav-link" href="{% url 'login' %}">
                                        <i class="fas fa-sign-in-alt"> Log In</i>
                                    {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                    {% if 'register' in request.path %}
                                        class="nav-link active" aria-current="page" href="{% url 'register' %}">
                                        <i class="fas fa-user-plus"> Sign Up</i>
                                    {% else %}
                                        class="nav-link" href="{% url 'register' %}">
                                        <i class="fas fa-user-plus"> Sign Up</i>
                                    {% endif %}
                            </a>
                        </li>
                        </ul>
                    {% endif %}
            </div>
        </div>
    </div>
</nav>

{% include 'contacts/contact.html' %}
