{%  load static %}
<!-- Top Bar -->
<section id="top-bar" class="p-3 m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <i class="fas fa-phone"></i> (555)-555-5555
            </div>
            <div class="col-sm">
                <i class="fas fa-envelope-open"></i> contact@croprotation.coop
            </div>
            <div class="col-sm">
                <div class="social text-right text-dark">
                    <a href="#">
                        <i class="fab fa-twitter text-dark"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook text-dark"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin text-dark"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram text-dark"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest text-dark"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
