{% extends 'base.html' %}

{% block content %}
    <hr>
        <div class="container-md">
          <div class="row">
            <div class="col-sm">
                <abbr title="displayed on hover">Column 1</abbr>
            </div>
            <div class="col-sm ">
              Column 2
            </div>
            <div class="col-sm">
              Column 3
            </div>
          </div>
    </div>
    <hr>
    <div id="disappearingmessage">
        Disappearing message
    </div>
{% endblock %}
<script>
    //Automatically fade out messages
setTimeout(function() {
    $("#disappearingmessage").fadeOut('slow')
}, 3000);

</script>